@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

#IntroSection {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#IntroSection h1 {
    font-size: 100px;
    text-transform: uppercase;
    color: white;
}

#IntroSection p {
    font-size: 30px;
    color: white;
}

#IntroSection #CardBox {
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f1f1f;
}

#IntroSection #CardBox:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background:#fff;
    transform: skew(2deg, 1deg);
    z-index: -1;
}

#IntroSection #CardBox:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

#IntroSection #CardBox:before,
#IntroSection #CardBox:after {
    background: linear-gradient(335deg, #722ed1, #060c21, #2f54eb);
}

.IntroIcon {
    font-size: 60px;
    color: #2f54eb;
    animation-name: arrowVerticalMovement;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes arrowVerticalMovement {
    0% {
        transform: translate(0, 20px)
    }
    50% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(0, 20px)
    }
}

#SquaresContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#CometContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
