@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

#IntroSection {
    position: relative;
}

#PhotoContainer {
    position: absolute;
    z-index: -2;
    overflow: hidden;
    width: 100%;
    height: 950px;
}

#photo {
    width: 2000px;
    transform: scale(1.15) translate(100px, -200px);
}

#Background {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 950px;
    background-color: #22267b;
    opacity: 0.8;
}

#ContentContainer {
    position: absolute;
    text-align: center;
    margin-top: 200px;
}

#ContentContainer h1 {
    font-size: 100px;
    text-transform: uppercase;
    color: white;
}

#ContentContainer p {
    font-size: 30px;
    color: white;
}

.IntroIcon {
    font-size: 100px;
    color: yellow;
    margin-top: 250px;
    animation-name: arrowVerticalMovement;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes arrowVerticalMovement {
    0% {transform: translate(0, 20px)}
    50% {transform: translate(0, 0)}
    100% {transform: translate(0, 20px)}
}