.navbar {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    z-index: 100;
    text-align: right;
}

.navbar a {
    color: white;
}

.navbarElement {
    height: 45px;
    cursor: pointer;
}

.navbarElement_icon {
    border-radius: 5px 0 0 5px;
    display: inline-block;
    width: 45px !important;
    height: 45px;
    box-sizing: border-box;
    padding: 8px;
    transition: background;
    transition-duration: 0.3s;
    margin-right: -0.2px;
}

.navbarElement_title {
    font-size: 20px;
    text-align: center;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    width: 0;
    transition: width;
    transition-duration: 0.5s;
    white-space: nowrap;
    overflow: hidden;
}

.navbarElement:hover > .navbarElement_title {
    width: 150px;
    transition: width;
    transition-duration: 0.5s;
}
