@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

h1,h2,h3,h4,h5,h6{
    color: black;
    position: static;
}
#mainDiv{
    background-color: #f8f8f8;
    font-family: 'Oswald', sans-serif;
}

#tilesContainer{
}

.Title{
    font-size: 60px;
}

