#homeSection .reflection {
    position: absolute;
    background: rgba(255,255,255,0.01);
    border-radius: 0 100% 0 0;
    bottom: 0;
    left: 0;
}

#homeSection .reflection:nth-child(1) {
    width: 500px;
    height: 500px;
}

#homeSection .reflection:nth-child(2) {
    width: 300px;
    height: 300px;
}

#homeSection .reflection:nth-child(3) {
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 550px) {
    #homeSection .reflection:nth-child(1) {
        width: 400px;
        height: 400px;
    }

    #homeSection .reflection:nth-child(2) {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 450px) {
    #homeSection .reflection:nth-child(1) {
        width: 300px;
        height: 300px;
    }

    #homeSection .reflection:nth-child(2) {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 350px) {
    #homeSection .reflection:nth-child(1) {
        width: 200px;
        height: 200px;
    }

    #homeSection .reflection:nth-child(2) {
        width: 150px;
        height: 150px;
    }
}